---
import Card from '../components/Card.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to AII.">
	<main>
		<div class="center">
			<h1 class="title" data-animate-in data-animate-from="top">Anti-Idiot Idiots</h1>
			<div class="cards">
				<Card 
					title="Glitch752"
					body="Hi! I'm a self-taught programmer who programs as a hobby. I've been programming for over 7 years, and I love learning new things and experimenting."
					animateFrom="bottom"
					image="/glitch752-logo.png"
				/>
				<Card 
					title="slashtechno"
					body="I am slashtechno. I am an intermediate developer who enjoys publishing code and tinkering with technology - Don't be evil."
					animateFrom="bottom"
					image="/slashtechno-octocat.png"
				/>
				<Card
					title="Mikeymoo5"
					body="🔴 Programmer \n 🟠 Loner \n 🟡 Literally no life \n 🟢 Really bad Valorant player" 
					animateFrom="bottom"
					image="/mikeymoo5-logo.png" />
			</div>
		</div>
	</main>
</Layout>

<style>
	@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Expanded:wght@700&display=swap'); /* Import font */

	.center {
		display: flex;
		flex-direction: column;
		
		/* Center the content */
		justify-content: center;
		align-items: center;
		
		height: 70vh;
		background: linear-gradient(to bottom, #00000088, #00000000); 

	}
	.title {
		font-size: 8rem;
		font-family: 'Encode Sans Semi Expanded', sans-serif; 

		margin: 0;
		margin-top: 10vh;

		color: white;

		/* Makes the text a gradient  */
		background-clip: text;
		/* background-clip: text makes the text the area that the backgroud property affects */
		-webkit-background-clip: text; 
		-webkit-text-fill-color: transparent;
		background-image: linear-gradient(90deg, #991111, #26199b);


		position: relative;
		z-index: 100;
		-webkit-text-stroke: 3px rgba(255, 255, 255, 0.322);
		text-rendering: optimizeLegibility;
	}
	.cards {
		display: flex;
		flex-wrap: wrap;
		gap: 8px;
		/* If rem is 16px, then make 80px of space on each side */
		width: calc(100% - 10rem);

		justify-content: center;
	}
</style>