---
---

<div class="about-us" data-animate-in data-animate-from="bottom">
    <h1>About Us</h1>
    <!-- Perhaps use Zen Kaku Gothic New as the font for the about us section -->
    <p>
        We are a group of 3 developers who are passionate about tinkering with technology and software.
        We are always looking for new challenges to solve. We enjoy publishing our projects as open source.
        We're only getting started.
        <!-- insert dramatic finish here-->
    </p>
</div>

<style>
    .about-us {
        text-align: center;
        padding: 2rem;
        margin-top: 2rem;
        width: 60%;
        min-width: 600px;
    }
    
    h1 {
        font-size: 3rem;
        margin: 0;
    }
    p {
        font-size: 1rem;
    }
</style>