---
export interface Props {
	title: string;
	body: string;
	animateFrom: string;
	image: string;
}

const { title, body, animateFrom, image } = Astro.props;
---

<div class="card-outer" data-animate-in data-animate-from={animateFrom}>
	<div class="card">
		<img src={image}>
		<h1>{title}</h1>
		<p>
			{body.split('\n').map((text) => {
				return (
					// Tells astro that multiple elements are being returned
					<>
						{text}
						<br />
					</>
				)
			})}
		</p>
	</div>
</div>

<style>
	.card {
		background-color: rgba(177, 177, 177, 0.1);
		border: 5px solid rgba(255, 255, 255, 0.1);
		position: relative;

		width: 300px;
		/* Set aspect ratio to a square */
		aspect-ratio: 1/1; 
		
		/* Make transform smooth */
		transition: transform 0.5s ease; 

		/* Center the text inside the card */
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	
	img {
		position: absolute;
		z-index: -1;
		width: 100%;
		height: auto;
		opacity: 0.5;
		transition: opacity 0.5s ease, filter 0.5s ease;
		filter: blur(2px); /* Blur the image */
	}
	p {
		margin: 0 1rem;
	}

	/* When card is hovered, make it bigger */
	.card:hover {
		transform: scale(1.1) !important; /* !important is needed because of the animation */
		/* color: rgba(82, 82, 82, 0.815);  */
	}
	.card:hover img { /* Applies to a hovered card's image */
		/* opacity: 1; */
		filter: blur(0); /* Remove blur while hovered */
	}
	
</style>
