---
export interface Props {
	title: string;
}
// What are props?
// Props are the properties that are passed to a component

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot /> <!-- Equivilant to <slot> </slot> -->
		<div style="height: 500vh"></div>
	</body>
</html>

<style is:global>
	:root {
	}
	html {
		font-family: system-ui, sans-serif;
		color: #fff;
		/* background: repeating-radial-gradient(white 0px, white 20px, black 20px, black 40px);
		background-size: 100% 200vh;
		background-repeat: repeat-y; */
		--gradient-size: 300vh;
		background: repeating-linear-gradient(6deg, #060b19 0px, #1d0606 calc(var(--gradient-size) / 2), #060b19 var(--gradient-size));
	}
	body {
		margin: 0;
	}
</style>
	